/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
 	color: #66FF99;
  	font-family: segoe ui,Arial,sans-serif;
  	margin-left:auto;
	margin-right:auto;
	background-color:#2b2922;
}

#wrap {
	border:0px solid black;
	padding-top:2px;
	padding-bottom:15px;
}

#logo img {
	border:0px solid black;
	position:relative;
	top: -10px;
	right: 0px;
}

#logo {
	border:0px solid black;
	height:130px;
	width:980px;

}

#logo_img {
	position: absolute;
	top: 30px;
	left:335px;
	display: block;
	background: url(../img/logo_img.png) repeat-x;
	border: 0px solid black;
	height: 70px;
	width: 570px;
	overflow:hidden;
}

#contact_form {
	font-size: .7em !important;
}

.learn_accordian {
	width: 640px;
	margin: auto;
	padding-top:30px;
	padding-bottom:5px;
	font-size: .7em !important;
}

.text-muted {
	color: #A9A9A9;
}

#tabs {
	padding-top:2px;
	padding-bottom: 40px;
	margin: auto;
	border:0px solid white;
}
.ui-tabs .ui-tabs-nav li a {
	font-size: .7em !important;
}

.ui-menu {
	width: 150px;
}

.ui-tabs-vertical { 
	width: 55em; 
}
.ui-tabs-vertical .ui-tabs-nav { 
  	padding: .8em .1em .8em .5em; 
  	float: left; 
  	width: 12em; 
  	margin-left:5px;
}
.ui-tabs-vertical .ui-tabs-nav li { 
  	clear: left; 
  	width: 100%; 
  	border-bottom-width: 1px !important; 
  	border-right-width: 0 !important; 
  	margin: 0 -1px .2em 0; 
}
.ui-tabs-vertical .ui-tabs-nav li a { 
  	display:block; 
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
  	padding-bottom: 0; 
  	padding-right: .1em; 
  	border-right-width: 1px; 
  	border-right-width: 1px; 
}
.ui-tabs-vertical .ui-tabs-panel { 
	padding: 1em;
	float: right; 
	width: 40em;
}

.captionOrange, .captionBlack {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}
.captionOrange {
	background: #EB5100;
	background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack {
	font-size:16px;
	background: #000;
	background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited {
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover {
	color: #eb5100;
	text-decoration: underline;
	background-color: #eeeeee;
	background-color: rgba(238, 238, 238, 0.7);
}
.bricon {
	background: url(../img/browser-icons.png);
}

.slide_container {
	position: relative; 
	margin: 0 auto;
	width: 580px; 
	height: 347px;
	border:0px solid black;
}

#left-bar {
	float:left;
}

.slide_outer {
	border:0px solid black;
	float:left;
}

.one {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 600px; 
	height: 100%;
	background-color: Black; 
	opacity: 0.3; 
	filter: alpha(opacity=50);
}

.two {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 600px; 
	height: 100%;
	color: White; 
	font-size: 16px; 
	/*font-weight: bold; */
	line-height: 20px; 
	text-align: center;
}

#gallery_wrap {
	position: fixed;

	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -480px;
	z-index: 2;
}

#footer_container {
	width: auto;
	font-size: .9em !important;
}

#copyright_footer {
	width: auto;
	height: 20px;
	font-size: .8em !important;
	border: 1px solid #CCBE8A;
	background: #D1C496;
	color: #000000;
}

#footer {
	width:auto;
	height: 200px;
	margin: 0 auto;
}

#footer-left {
	float:left;
	
}

#footer-center {
	margin: 0 auto;
	
}
#footer-right {
	float:right;
	
}