body {
  font-family: segoe ui,Arial,sans-serif;
  margin: 0;
}

#logo_header {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

#logo {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#logo_img_right {
  position: absolute;
  top: 10px;
  left:680px;
  display: block;
  background: url(../img/logo_img.png) no-repeat;
  border: 0px solid black;
  height: 70px;
  width: 190px;
  overflow:hidden;
}

#logo_img_left {
  position: absolute;
  top: 5px;
  left:400px;
  display: block;
  background: url(../img/logo_img_left.png) no-repeat;
  border: 0px solid black;
  height: 70px;
  width: 190px;
  overflow:hidden;
}

#content {
  margin-top: 0px;
  padding-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.yellow {
  background-color: #FFEC1F;
}

.slate {
  background-color: #3e3f3a;
}

#nav_logo {
  display: none;
  background: url(../img/joneslogonoaddr.png) no-repeat;
  width: auto; /*or your image's width*/
  height: auto; /*or your image's height*/
  margin: 0;
  padding: 0;
}

.navbar-brand {
  height: 0px;
  padding: 0px;
}

@media (max-width: 1021px) {
    #logo_header {
      display: none;
    }
    #nav_logo {
      display: inline-block;
    }
    .navbar-brand {
      height: 50px;
    }
}