body {
  font-family: segoe ui,Arial,sans-serif;
  margin: 0;
}

#logo_header {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

#logo {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#logo_img_right {
  position: absolute;
  top: 10px;
  left:680px;
  display: block;
  background: url(../img/logo_img.png) no-repeat;
  border: 0px solid black;
  height: 70px;
  width: 190px;
  overflow:hidden;
}

#logo_img_left {
  position: absolute;
  top: 5px;
  left:400px;
  display: block;
  background: url(../img/logo_img_left.png) no-repeat;
  border: 0px solid black;
  height: 70px;
  width: 190px;
  overflow:hidden;
}

#content {
  margin-top: 0px;
  padding-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.yellow {
  background-color: #FDD01B;
}

.slate {
  background-color: #3e3f3a;
}

#nav_logo {
  display: none;
  background: url(../img/joneslogonoaddr.png) no-repeat;
  width: auto; /*or your image's width*/
  height: auto; /*or your image's height*/
  margin: 0;
  padding: 0;
}

.navbar-brand {
  height: 0px;
  padding: 0px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#feature_panel {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

@media (max-width: 1021px) {
  #feature_panel {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media (max-width: 1021px) {
    #logo_header {
      display: none;
    }
    #nav_logo {
      display: inline-block;
    }
    .navbar-brand {
      height: 50px;
    }
}

@media (min-width: 768px) {
  .featurette-heading {
      font-size: 50px;
    }
}

@media (max-width: 660px) {
  .feature-img {
    display: none;
  }
}