body {
  font-family: segoe ui,Arial,sans-serif;
  margin: 0;
}

#logo_header {
  width: 100%;
}

#logo_header img {
  position: relative;
  margin-left: 0 auto;
  margin-right: 0 auto;
  left: 0;
  top: 0;
}

#logo_img_right {
  position: absolute;
  top: 20px;
  left:680px;
  display: block;
  background: url(../img/logo_img.png) no-repeat;
  border: 0px solid black;
  height: 70px;
  width: 190px;
  overflow:hidden;
}

#logo_img_left {
  position: absolute;
  top: 15px;
  left:400px;
  display: block;
  background: url(../img/logo_img_left.png) no-repeat;
  border: 0px solid black;
  height: 70px;
  width: 190px;
  overflow:hidden;
}

#content {
  margin-top: 0px;
  padding-bottom: 20px;
  position: relative;
  margin-left: 0px auto;
  margin-right: 0px auto;
  width: 975px;
}