#contact_container {
  width: 100%;
  padding-top: 30px;
  text-align: center;
}

#contact_container_inner {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#contact_form {
  float: left;
  width: 375px;
  height: 500px;
  margin-right: 37px;
}

#map_container {
  float: left;
  width: 375px;
  height: 500px;
}

#map-canvas {
    width: 260px;
    height: 260px;
    background-color: #B2B2B2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0px
}

#contact_info {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
