#map-canvas {
    width: 260px;
    height: 260px;
    background-color: #B2B2B2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0px
}

#contact_container {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#contact_form {
  float: left;
  width: 375px;
  height: 500px;
  margin-right: 37px;
}

#map_container {
  float: left;
  width: 375px;
  height: 500px;
}