#contact_container {
  padding-top: 30px;
/*  text-align: center;  */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#map-canvas {
    width: 260px;
    height: 260px;
    background-color: #B2B2B2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0px
}

#contact_info {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#contact_info p {
  margin: 0;
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

#facebook_container {
  width:100%;
  margin: 0 auto;
  padding-top: 0px;
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { width: 100% !important; }

@media (max-width: 1051px) {
  #contact_container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 400px) {
  .form-group {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 770px) {
  #map-canvas {
    display: none;
  }
  #contact_info {
    display: none;
  }
  #news_tag {
    display: none;
  }
  #facebook_container {
    display: none;
  }
}