footer {
  margin-top: 40px;
  height: auto;
  position: absolute;
  width: 100%;
  color: white;
}

footer div {
  position: relative;
  padding-top: 2px;
  bottom: 0;
}

footer p {
  margin: 0;
}

#copy {
  float: left;
  margin-left: 20%;
}

#links {
  float: right;
  margin-right: 20%;
}

#links a {
  display: block;
}

@media (max-width: 387px) {
  #links a {
    display: inline-block;
  }
  #copy {
    display: block;
    float: left;
    margin-left: 0px;
  }

  #links {
    display: block;
    float: right;
    margin-right: 0px;
  }
}