footer {
  margin-top: 40px;
  height: auto;
  position: absolute;
  width: 100%;
  color: #98978b;
}

footer div {
  position: relative;
  padding-top: 2px;
  bottom: 0;
}

footer p {
  margin: 0;
}

#copy {
  float: left;
  margin-left: 10%;
}

#copy a {
  color: #98978b;
}

footer span {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;
}

.rjust {
  text-align: right;
}

.vert-div {
  height: 100%;
  border-left: 1px solid #98978b;
  margin-left: 10px;
  padding-left: 10px;
}

#links {
  float: right;
  margin-right: 10%;
}

#links a {
  display: block;
  color: #98978b;
}

#links img {
  padding-right: 10px;
}

@media (max-width: 387px) {
  #links a {
    display: inline-block;
  }
  #copy {
    display: block;
    float: left;
    margin-left: 2px;
  }

  #links {
    display: block;
    float: right;
    margin-right: 2px;
  }
}