footer {
  margin-top: 10px;
  height: auto;
  position: absolute;
  width: 100%;
  color: white;
}

footer p {
  margin-bottom: 2px;
}

footer a {
  padding-left: 0px;
  padding-right: 0px;
}

footer img {
  padding-left: 0px;
  padding-right: 20px;
}

footer div {
  position: relative;
  bottom: 0;
  margin-left: 180px;
  margin-right: 180px;
}