<!-- Carousel
================================================== -->
<div id="about_carousel">
	<carousel interval="4000">
		<slide ng-repeat="slide in ctrl.carousel_data by $index" active="slide.active">
	        <img ng-src="{{slide.img_src}}" style="margin:auto;">
	        <div class="carousel-caption">
	          	<h1>{{ slide.header_txt }}</h1>
	          	<p>{{ slide.caption_txt }}</p>
	          	<p><a class="btn btn-lg btn-primary" href="#contact" role="button">{{ slide.btn_txt }}</a></p>
	        </div>
	    </slide>
	</carousel>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
	<!-- Three columns of text below the carousel -->
  	<div class="row">
        <div class="col-lg-4" ng-repeat="col in ctrl.marketing_data by $index">
        	<img class="img-circle" ng-src="{{ col.img_src }}" style="width: 140px; height: 140px;">
          	<h2>{{ col.header_txt }}</h2>
          	<p>{{ col.body_txt }}</p>
          	<p><a class="btn btn-default" href="#" role="button">{{ col.btn_txt }}  &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
  	</div><!-- /.row -->
  	<!-- START THE FEATURETTES -->
  	<hr class="featurette-divider">

  	<div class="row featurette">
    	<div class="col-md-7">
          	<h2 class="featurette-heading">News & <span class="text-muted">Information</span></h2>
          	<p class="lead"></p>
        </div>
        <div class="col-md-5">
          	<div class="fb-like-box" data-href="https://www.facebook.com/pages/Jones-Contracting-Inc/159086087447871" data-width="800" data-height="500" data-colorscheme="dark" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
        </div>
  	</div>
		<hr class="featurette-divider">
		<!-- /END THE FEATURETTES -->
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->