<form name="cform" id="contact_form" class="form-horizontal" ng-controller="contact_ctrl" ng-submit="submitForm()" novalidate>
  <fieldset>
    <div class="row" ng-show="success_response">
      <p class="text-success"><small>Thank you for contacting Jones Contracting. A Jones Contracting representative will be in contact with you shortly. If you need immediate assistance please call (508) 668-7888.</small></p>
    </div>
    <div class="row" ng-show="error_response">
      <p class="text-danger"><small>An unexpected error has occurred. Please call (508) 668-7888 for immediate assistance. Thank you.</small></p>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{ 'has-error' : cform.name.$invalid && !cform.name.$pristine }">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="name" required />
        <p ng-show="cform.name.$invalid && !cform.name.$pristine" class="help-block">Please enter your name</p>
      </div>
      <div class="form-group col-sm-6">
        <label for="company" class="control-label">Company</label>
        <input type="text" class="form-control" id="company" placeholder="Company" ng-model="company" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{ 'has-error' : cform.phone.$invalid && !cform.phone.$pristine }">
        <label for="phone" class="control-label">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="phone" required />
        <p ng-show="cform.phone.$invalid && !cform.phone.$pristine" class="help-block">Please enter your phone number</p>
      </div>
      <div class="form-group col-sm-6" ng-class="{ 'has-error' : cform.email.$invalid && !cform.email.$pristine }">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="email" \> 
        <p ng-show="cform.email.$invalid && !cform.email.$pristine" class="help-block">Please enter a valid email address</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="message" class="control-label">Message</label>
      <textarea class="form-control" rows="5" id="message"  ng-model="message"></textarea>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary" ng-disabled="cform.$invalid">Submit</button>
    </div>
  </fieldset>
</form>