<div id="content_panel">
  <div class="row">
    <div>
      <h3>{{ ctrl.data.heading }}<span class="text-muted"> {{ ctrl.data.muted }}</span></h3>
      <div ng-repeat="l in ctrl.data.list">
        <p>{{ l.item }}</p>
      </div>
      <div class="btn-group">
        <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="b in ctrl.data.btn"><a ng-href="{{ b.href }}">{{ b.txt }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>