<div id="carousel_panel" class="yellow" ng-show="ctrl.data.carousel.img.length">
	<carousel interval="4000" ng-show="ctrl.data.carousel.img.length">
		<slide ng-repeat="slide in ctrl.data.carousel.img" active="slide.active">
		    <img ng-src="{{ slide.src }}" style="margin:auto;">
		    <div class="carousel-caption">
          		<p>{{ slide.caption }}</p>
        	</div>
		</slide>
	</carousel>
</div>

<div id="content_panel">
	<div class="row">
		<div class="col-xs-12">
			<h3>{{ ctrl.data.panel.heading }}</h3>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="f in ctrl.data.panel.body">
			<div class="col-xs-12 col-sm-6 col-md-4" ng-show="f.content.length">
				<p>{{ f.content }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4" ng-show="f.list.length">
				<div ng-repeat="g in f.list">
					<ul>
						<li>{{ g.item }}</li>
						<div ng-repeat="s in g.subitem" ng-show="g.subitem.length">
							<ul>
								<li>{{ s.item }}</li>
							</ul>
						</div>
					</ul>
				</div>	
			</div>
		</div>
	</div>
	<div id="tagline" class="row" ng-show="ctrl.tagline">
		<div class="col-xs-12">
			<p><em>{{ ctrl.data.panel.tagline }}</em></p>
		</div>
	</div>
	<div id="signature" class="row" ng-show="ctrl.signature">
		<div class="col-xs-12">
			<p><em>{{ ctrl.data.panel.signature }}</em></p>
		</div>
	</div>
</div>    
  	

