<div id="feature_panel">
  <div class="row featurette">
    <div>
      <h3 class="featurette-heading">{{ ctrl.data.heading }}<span class="text-muted"> {{ ctrl.data.muted }}</span></h3>
      <div ng-repeat="l in ctrl.data.list">
        <p>{{ l.item }}</p>
      </div>
      <div class="btn-group">
        <a href="" class="btn btn-default">Services</a>
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu" ng-repeat="b in ctrl.data.btn">
          <li><a ng-href="{{ b.href }}">{{ b.txt }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

