<div id="feature_panel">
  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="featurette-heading">{{ ctrl.data.heading }}<span class="text-muted"> {{ ctrl.data.muted }}</span></h3>
      <div ng-repeat="l in ctrl.data.list">
        <p>{{ l.item }}</p>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Services
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <div ng-repeat="b in ctrl.data.btn">
            <li><a ng-href="{{ b.href }}">{{ b.txt }}</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

