<div id="carousel_panel" class="yellow">
	<carousel interval="4000" ng-show="ctrl.data.carousel.img.length">
		<slide ng-repeat="slide in ctrl.data.carousel.img" active="slide.active">
		    <img ng-src="{{ slide.src }}" style="margin:auto;">
		</slide>
	</carousel>
</div>

<div id="content_panel">
	<div class="row">
		<h3>{{ ctrl.data.panel.heading }}</h3>
	</div>
	<div class="row">
		<div ng-repeat="f in ctrl.data.panel.body">
			<div class="col-md-4">
				<p>{{ f.content }}</p>
			</div>
		</div>
	</div>
	<div class="row" ng-show="ctrl.signature">
		<p><em>Sincerely,</em></p>
		<p><em>{{ ctrl.data.panel.signature }}</em></p>
	</div>
</div>    
  	

