<carousel interval="{{ ctrl.data.carousel.interval }}" ng-show="ctrl.data.carousel.img.length">
	<slide ng-repeat="slide in ctrl.data.carousel.img" active="slide.active">
	    <img ng-src="{{ slide.src }}" style="margin:auto;">
	    <div class="carousel-caption">
          	<h1>{{ slide.header_txt }}</h1>
          	<p>{{ slide.caption_txt }}</p>
          	<p><a class="btn btn-lg btn-primary" href="#contact" role="button">{{ slide.btn_txt }}</a></p>
        </div>
	</slide>
</carousel>

<hr class="featurette-divider" ng-show="ctrl.data.carousel.img.length">

<div class="container marketing">
	<!-- Three columns of text below the carousel -->
  	<div class="row" ng-show="ctrl.data.cells.length">
        <div class="col-lg-4" ng-repeat="col in ctrl.data.cells">
        	<img class="img-circle" ng-src="{{ col.img }}" style="width: 140px; height: 140px;">
          	<h2>{{ col.header_txt }}</h2>
          	<p>{{ col.body_txt }}</p>
          	<p><a class="btn btn-default" href="#" role="button">{{ col.btn_txt }}  &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
  	</div><!-- /.row -->
  	<!-- START THE FEATURETTES -->
  	<hr class="featurette-divider" ng-show="ctrl.data.cells.length">

  	<div class="row featurette" ng-show="ctrl.data.featurette.length">
    	<div class="col-md-7">
          	<h2 class="featurette-heading">{{ ctrl.data.featurette.header_txt }}<span class="text-muted">{{ ctrl.data.featurette.mute_txt }}</span></h2>
          	<p class="lead"></p>
        </div>
        <div class="col-md-5 light well">
          	{{ ctrl.data.featurette.body_txt }}
        </div>
  	</div>
	<hr class="featurette-divider" ng-show="ctrl.data.featurette.length">
		<!-- /END THE FEATURETTES -->
</div><!-- /.container -->